@import "/src/fonts/fonts.css";
@import "./variables.css";
@import "./themeColor.css";
@import "./themeDark.css";
@import "./other.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--white);
  letter-spacing: -0.02em;
}

a,
button,
input {
  transition: all 350ms ease-in-out;
}

.ReactModal__Body--open {
  overflow: hidden;
}

input {
  outline: none;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}
