.liner_gradient {
  background: var(--gradient);
}

.centering-axisXY {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.centering-axisY {
  @apply absolute top-1/2 -translate-y-1/2;
}

.centering-axisX {
  @apply absolute left-1/2 -translate-x-1/2;
}

.custom_dashed {
  border: 1.5px dashed var(--color);
}

.group_label {
  @apply relative;
}

.label {
  line-height: 1.375;
  @apply absolute centering-axisY left-[18px] text-[14px];

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.field {
  border: 1px solid var(--border);
  @apply w-full rounded-[12px] py-[16px] text-[14px];

  &:hover,
  &:focus {
    border: 1px solid var(--hover-border);
  }

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.subtitle-card {
  @apply font-bold leading-[1.5] text-[var(--gray)];
}

.item_header-card {
  position: relative;
}

.item_header-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(18, 20, 23, 0.2);
  width: 2px;
  height: 16px;
}

.text-card {
  @apply font-bold leading-[1.5];
}

.tag {
  padding: 8px 12px;
  @apply text-card rounded-[35px] border border-[var(--border)] bg-transparent;
}

.tag:first-child {
  @apply bg-[var(--color)] border-[var(--color)] text-[var(--text-btn)];
}
