@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --font-family: "Roboto", sans-serif;

  --orange: #f4c550;
  --light-orange: #fbe9ba;
  --apple-orange: #e7c885;

  --green: #9fbaae;
  --light-green: #cbded3;
  --apple-green: #9eb9ad;

  --blue: #9fb7ce;
  --light-blue: #bfd6ea;
  --apple-blue: #9fb6cd;

  --pink: #e0a39a;
  --light-pink: #f2c0bd;
  --apple-pink: #dfa299;

  --coral: #f0aa8d;
  --light-coral: #f4c8ba;
  --apple-coral: #efa98c;

  --main: #121417;
  --white: #fff;
  --black: #222224;
  --cold-white: #f8f8f8;
  --gray: #8a8a89;
  --light-gray: #12141733;

  --border: rgba(18, 20, 23, 0.1);
  --hover-border: #8a8a89;

  --text-form: rgba(18, 20, 23, 0.8);
  --text-btn: var(--main);
  --icon-color: var(--main);
  --modal-color: var(--white);
}

body {
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--white);
  letter-spacing: -0.02em;
}

.orange-theme {
  --color: var(--orange);
  --hover-color: var(--light-orange);
  --apple: var(--apple-orange);
  --gradient: linear-gradient(180deg, #eeb055 0%, #d08f38 100%);
}

.green-theme {
  --color: var(--green);
  --hover-color: var(--light-green);
  --apple: var(--apple-green);
  --gradient: linear-gradient(180deg, #295761 0%, #183e49 100%);
}

.blue-theme {
  --color: var(--blue);
  --hover-color: var(--light-blue);
  --apple: var(--apple-blue);
  --gradient: linear-gradient(180deg, #314b6e 0%, #1f385a 100%);
}

.pink-theme {
  --color: var(--pink);
  --hover-color: var(--light-pink);
  --apple: var(--apple-pink);
  --gradient: linear-gradient(180deg, #b03f3e 0%, #982a27 100%);
}

.coral-theme {
  --color: var(--coral);
  --hover-color: var(--light-coral);
  --apple: var(--apple-coral);
  --gradient: linear-gradient(180deg, #e17650 0%, #ca5b38 100%);
}

.dark-theme {
  color: var(--white);
  background-color: var(--main);
  --border: rgba(221, 209, 199, 0.1);
  --hover-border: var(--cold-white);
  --text-form: var(--cold-white);
  --icon-color: var(--white);
  --modal-color: var(--main);
}

a,
button,
input {
  transition: all 350ms ease-in-out;
}

.liner_gradient {
  background: var(--gradient);
}

.centering-axisXY {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.centering-axisY {
  @apply absolute top-1/2 -translate-y-1/2;
}

.centering-axisX {
  @apply absolute left-1/2 -translate-x-1/2;
}

.custom_dashed {
  border: 1.5px dashed var(--color);
}

.group_label {
  @apply relative;
}

.label {
  line-height: 1.375;
  @apply absolute centering-axisY left-[18px] text-[14px];

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.field {
  border: 1px solid var(--border);
  @apply w-full rounded-[12px] py-[16px] text-[14px];

  &:hover,
  &:focus {
    border: 1px solid var(--hover-border);
  }

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

input {
  outline: none;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}
